In [1]:
import pandas as pd

In [5]:
SeoulData = pd.read_csv('store_data_Seoul.csv')
# 소상공인시장진흥공단_상가(상권)정보 (서울)
# https://www.data.go.kr/data/15083033/fileData.do

In [6]:
SeoulData.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0037544,영자's곱창,NaN,I2,음식,I201,한식,I20109,곱창 전골/구이,I56111,...,1.121510e+24,NaN,서울특별시 광진구 면목로 172,143900,4904,NaN,1,NaN,127.082832,37.568503
1,MA0101202210A0097916,호텔클로이,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,1.114010e+24,유성장,서울특별시 중구 을지로42길 11,100411,4561,NaN,NaN,NaN,127.005849,37.565708
2,MA0101202210A0096343,나라차중계태권도장,NaN,P1,교육,P106,기타 교육,P10601,태권도/무술학원,P85611,...,1.135010e+24,삼부프라자,서울특별시 노원구 한글비석로 242,139861,1734,NaN,NaN,NaN,127.076956,37.649226
3,MA0101202210A0093845,이상한스냅,NaN,M1,과학·기술,M113,사진 촬영,M11301,사진촬영업,M73303,...,1.147010e+24,백송주택,서울특별시 양천구 월정로 283,158822,7902,NaN,NaN,NaN,126.828832,37.542117
4,MA010120220805430767,토끼정,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,1.150010e+24,마커스빌딩,서울특별시 강서구 마곡동로 55,157805,7802,NaN,2,NaN,126.833022,37.560053

In [10]:
df = SeoulData.loc[(SeoulData['상권업종대분류명']=='음식') & (SeoulData['행정동명']=='혜화동')] 
# 혜화동 식당만 추출

In [11]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
749,MA010120220805454448,낫컴플리트,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1.111020e+24,NaN,서울특별시 종로구 성균관로 12-5,110530,3074,NaN,2,NaN,126.998096,37.584204
1149,MA010120220805466468,유환푸드,NaN,I2,음식,I201,한식,I20105,국수/칼국수,I56112,...,1.111020e+24,NaN,서울특별시 종로구 창경궁로35길 13,110530,3076,NaN,1,NaN,127.001484,37.586557
2030,MA010120220805488786,버거파크,NaN,I2,음식,I210,기타 간이,I21004,버거,I56111,...,1.111020e+24,NaN,서울특별시 종로구 대학로11길 5,110530,3079,NaN,NaN,NaN,127.001350,37.582159
2426,MA010120220805501127,디오엠,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,1.111020e+24,NaN,서울특별시 종로구 성균관로 4-8,110530,3074,NaN,1,NaN,126.998727,37.583615
2546,MA010120220805505906,명륜진사갈비,NaN,I2,음식,I201,한식,I20107,돼지고기 구이/찜,I56113,...,1.111020e+24,성균관대학교,서울특별시 종로구 성균관로 25-1,110745,3063,NaN,1,NaN,126.995108,37.585827

In [19]:
df.to_csv("Hyehwa.csv", index = False)

In [18]:
dt = pd.read_csv('Hyehwa.csv')
dt

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220805454448,낫컴플리트,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1.111020e+24,NaN,서울특별시 종로구 성균관로 12-5,110530,3074,NaN,2,NaN,126.998096,37.584204
1,MA010120220805466468,유환푸드,NaN,I2,음식,I201,한식,I20105,국수/칼국수,I56112,...,1.111020e+24,NaN,서울특별시 종로구 창경궁로35길 13,110530,3076,NaN,1,NaN,127.001484,37.586557
2,MA010120220805488786,버거파크,NaN,I2,음식,I210,기타 간이,I21004,버거,I56111,...,1.111020e+24,NaN,서울특별시 종로구 대학로11길 5,110530,3079,NaN,NaN,NaN,127.001350,37.582159
3,MA010120220805501127,디오엠,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,1.111020e+24,NaN,서울특별시 종로구 성균관로 4-8,110530,3074,NaN,1,NaN,126.998727,37.583615
4,MA010120220805505906,명륜진사갈비,NaN,I2,음식,I201,한식,I20107,돼지고기 구이/찜,I56113,...,1.111020e+24,성균관대학교,서울특별시 종로구 성균관로 25-1,110745,3063,NaN,1,NaN,126.995108,37.585827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,MA0101202306A0013700,하얀구르미,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1.111020e+24,NaN,서울특별시 종로구 창경궁로 261,110530,3075,NaN,2,NaN,127.000162,37.584636
604,MA0101202306A0035176,에디션엠,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1.111020e+24,NaN,서울특별시 종로구 대학로11길 17-2,110530,3079,NaN,1,NaN,127.000830,37.582128
605,MA0101202306A0010272,엠아이피,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1.111020e+24,NaN,서울특별시 종로구 명륜길 40-1,110811,3070,NaN,1,NaN,126.994963,37.588980
606,MA0101202306A0004657,삼삼뼈국,대학로점,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,1.111020e+24,NaN,서울특별시 종로구 대학로 129-10,110530,3078,NaN,1,NaN,127.001183,37.582797
607,MA0101202306A0054105,인쌩맥주혜화점,NaN,I2,음식,I211,주점,I21103,생맥주 전문,I56111,...,1.111020e+24,NaN,서울특별시 종로구 창경궁로34길 24-9,110530,3077,NaN,1,NaN,127.000637,37.583811